<div class="container-fluid my-5">

    <div class="container-fluid justify-content-center">
        <button *ngIf="role==='ROLE_ADMIN'" type="button" class="btn btn-dark text-white mb-4" data-bs-toggle="modal" data-bs-target="#myModal">Add Books</button>
        <div class="modal" id="myModal">
          <div class="modal-dialog d-flex">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add Book</h5>
                <button type="button" data-bs-dismiss="modal" class="btn-close"></button>
              </div>
              <div class="modal-body">
                <form >
                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <label for="title" class="form-label">Book Title</label>
                      <input type="text" name="title" id="title" class="form-control" required>
                    </div>
      
                    <div class="col-sm-6">
                      <label for="author" class="form-label">Author</label>
                      <input type="text" name="author" id="author" class="form-control" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <label for="genre" class="form-label">Genre</label>
                      <input type="text" name="genre" id="genre" class="form-control" required>
                    </div>
      
                    <div class="col-sm-6">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" name="price" id="price" class="form-control" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <label for="stock" class="form-label">Stock</label>
                      <input type="number" name="stock" id="stock" class="form-control" required>
                    </div>
      
                    <div class="col-sm-6">
                      <label for="date" class="form-label">Date of Upload</label>
                      <input type="date" name="date" id="date" class="form-control" [value]="currentDate" readonly>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <label for="image" class="form-label">Book Image</label>
                    <input type="file" name="image" id="image" class="form-control">
                  </div>
      
                  <div class="col-sm-12 my-3 d-flex">
                    <button type="button" class="btn btn-primary w-100">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    <div class="row">
        <div *ngFor="let book of books" class="col-12 col-md-6 mb-4 d-flex">
            <div class="card flex-grow-1 border-3" style="border-radius: 20px;">
                <div class="row g-0">
                    <div class="col-4 col-sm-3">
                        <img [src]="book.processedImg" alt="Image" class="img-fluid rounded-start p-4" style="width: 100%;">
                    </div>
                    <div class="col-8 col-sm-9">
                        <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <p class="card-text">{{book.description}}</p>
                            <p class="card-text">
                                <strong>Price:</strong> {{book.price}}
                                <span class="ms-3"><strong>Stock:</strong> {{book.stock}}</span>
                                <span class="ms-3"><strong>Date of Update:</strong> {{book.date | date :'dd-MM-yyyy'}}</span>
                            </p>                            
                            <div class="row d-flex">
                                <div class="col-6">
                                    <button *ngIf="role==='ROLE_ADMIN'" type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                                    
                                    <div class="modal fade" id="editModal" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Book</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#">
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <label for="title" class="form-label">Book Title</label>
                                                                <input type="text" name="title" id="title" class="form-control" required>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="author" class="form-label">Author</label>
                                                                <input type="text" name="author" id="author" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <label for="genre" class="form-label">Genre</label>
                                                                <input type="text" name="genre" id="genre" class="form-control" required>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="price" class="form-label">Price</label>
                                                                <input type="number" name="price" id="price" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-6">
                                                                <label for="stock" class="form-label">Stock</label>
                                                                <input type="number" name="stock" id="stock" class="form-control" required>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="date" class="form-label">Date of Update</label>
                                                                <input type="date" name="date" id="date" class="form-control" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="image" class="form-label">Book Image</label>
                                                            <input type="file" name="image" id="image" class="form-control">
                                                        </div>
                                                        <button type="button" class="btn btn-primary w-100">Update</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div *ngIf="role==='ROLE_ADMIN'" class="col-6">
                                    <button type="button" class="btn btn-danger w-100">Delete</button>
                                </div>

                                <div class="col-12">
                                  <button type="button" class="btn btn-primary w-100">Buy</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

